/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap'); */
@font-face {font-family: Retroica; src: url('Retroica.ttf')}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
body {
	font-size: 1em;
	background-color: #171717;
	width: 100vw;
	height: 100vh;
}
main{
	width: 100%;
	height: 100%;
}
.navbar-items{
	display: flex;
	padding : 10px 1rem 0px 1rem;
  flex-direction: row;
	align-items: center;
  justify-content: space-around;
	text-align: center;
	font-family: Retroica;
	font-size:2rem;
	height: 100%;
}
.navbar-items img {
	width: 2.5em;
}

.navbar-items ul li a{
	margin: 0px 40px 0px 0px;
	color: white;
}
.navbar-items ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	text-align: center;
}

button{
	border-radius: 20em;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.donate-button button{
	background-color: transparent;
	border: 1px 1px 1px 1px;
	color: white;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.container-text {
	display: flex;
	flex-flow: column;
	color: white;
	font-size: 2em;
	text-align: center;
	padding: 100px;
}

.container-text .container-buttons {
	display: flex;
	justify-content: center;
}
.container-text .container-buttons button{
	background-color: transparent;
	color: white;
	font-family: Retroica;
	font-size: 20px;
	margin: 20px;
}

.container-text .container-buttons .btn-fill{
	background-color: white;
	color: black;
}
.container-text h2 span {
	color: #8158E3;
}
.container-big-logo {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}
.container-big-logo img {
	width: 30em;
}

.container-items {
  display: flex;
  width: 100vw;
  height: 100%;
  background-color: green;
}

.separator {
	background-color: black;
	width: 100%;
	height: 1px;
}
